.about {
    background-color: #0a1744;
    color: #fcfcfc;
}

.about-project {
    padding: 48px 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* degrade */
    /* background: linear-gradient(180deg, #0A174400 0%, #0A1744 100%) no-repeat,#0A1744;
    background-size:  100vw 42vmax, auto 100vmax;
    background-position:  0% 58.5vmax, 0% 0%; */
}

.about-tittle {
    font-size: 33px;
    line-height: 90px;
    margin-bottom: 32px;
}

.about-text {
    font-size: 15px;
    line-height: 26px;
}

.about-image {
    width: 348px;
    height: 294px;
    margin-top: 57px;
}

.about-team {
    padding: 48px 28px 120px 28px;
}

.about-team__title {
    color: #ffffff;
    font-size: 28px;
    line-height: 90px;
}

.about-team__members {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-members {
    width: 357px;
    height: 525px;
    /* cor e fonte */
    background-color: #0b1a49;
    box-shadow: 0px 5px 10px #5538ee14;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #ffffff24;
    /* tamanho */
    max-width: 100%;
    padding: 36px;
    margin-bottom: 46px;
}

.about-member__imagem {
    width: 182px;
    height: 182px;
    border-radius: 50%;
    margin-bottom: 22px;
}

.about-member__name {
    color: #72efdb;
    font-size: 28px;
    margin-bottom: 22px;
    line-height: 31px;
}

.about-member__text {
    min-height: 125px;
    color: #d9d9d9;
    font-size: 18px;
    line-height: 25px;
}

.about-member__link {
    padding: 26px;
    color: #72efdb;
}

.about-member-contact {
    margin-bottom: 38p;
}

/* telas de 900px */
@media (min-width: 900px) {
    .about-project {
        flex-direction: row;
        justify-content: space-between;
        padding: 56px;
    }
    main {
        max-width: 50%;
    }

    .about-team {
        padding: 0px 56px 120px;
    }
    .about-members {
        margin-right: 28px;
    }
}

/* telas 1360 */
@media (min-width: 1360px) {
    main {
        max-width: 55%;
    }

    .about-tittle {
        font-size: 56px;
        margin-bottom: 40px;
    }

    .about-image {
        width: 637px;
        height: 537px;
        margin-top: 100px;
    }

    .about-text {
        color: #fcfcfc;
        font-size: 21px;
        width: 39.2vw;
        line-height: 1.9vw;
    }

    .about-team__members {
        flex-direction: row;
    }

    .about-team__title {
        color: #ffffff;
        font-size: 54px;
        margin-bottom: 108px;
        margin-left: 20px;
    }

    .about-members {
        /* cor e fonte */
        margin-bottom: 0px;
        padding: 36px;
    }

    .about-member__imagem {
        width: 178px;
        height: 178px;
    }

    .about-member__name {
        height:58px;
        color: #72efdb;
        font-size: 28px;
        margin-bottom: 22px;
    }

    .about-member__text {
        min-height: none;
        color: #d9d9d9;
        font-size: 18px;
    }

    .about-member__link {
        padding: 28px;
        color: #72efdb;
    }

    .about-member-contact {
        margin-bottom: 38p;
    }
}

/* Telas 1920 */
@media (min-width: 1920px) {
    .about-project {
        padding: 133px 140px;
    }

    .about-tittle {
        font-size: 82px;
        margin-bottom: 40px;
    }

    .about-team {
        padding: 0px 140px 196px 140px;
    }
}