.imagesResults {
    position: relative;
    width: 40vw;
    margin-top: -3vh;
    margin-left: -4vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.imagesResults ul {
    width: 100%;
}

.imagesResults ul li {
    margin-top: 6vh;
    margin-left: 2vw;
    width: 130px;
    height: 130px;
    min-width: 230px;
    min-height: 230px;
    display: inline-table;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 21px;
    overflow: hidden;
    transition: all .7s;
}

.imagesResults .dataPost {
    font-family: 'Rubik', sans-serif;
    color: #FFFFFF;
    padding: 0 15px;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(to bottom, transparent, #000000ee);
    margin-top: -15vh;
    margin-left: 0vw;
}

.imagesResults .dataPost span:first-child {
    font-size: 17px;
    font-weight: 300;
}

.imagesResults .dataPost span:last-child {
    font-size: 21px;
    font-weight: 400;
}

/*---------------Media Queries---------------*/

@media screen and (max-width: 2560px) {
    .imagesResults {
        width: 30vw;
        margin-left: -4vw;
        margin-top: -5vh;
    }

    .imagesResults .dataPost {
        margin-top: -5.5vh;
    }
}

@media screen and (max-width: 1920px) {
    .imagesResults {
        margin-left: -10vw;
    }
}

@media screen and (max-width: 1440px) {
    .imagesResults {
        width: 36vw;
        margin-left: -18vw;
    }
}

@media screen and (max-width: 1366px) {
    .imagesResults {
        width: 38vw;
        margin-left: -23vw;
    }

    .imagesResults .dataPost {
        margin-top: -9vh;
    }
}

@media screen and (max-width: 1280px) {
    .imagesResults {
        width: 40vw;
        margin-left: -25vw;
    }
}

@media screen and (max-width: 1024px) {
    .imagesResults {
        width: 49vw;
        margin-left: -25vw;
    }

    .imagesResults ul li {
        min-width: 50px;
        min-height: 50px;
        width: 20%;
        height: 20%;
    }
}
