.imagesResults {
    position: relative;
    width: 520px;
    margin-top: -3vh;
    margin-left: -4vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.imagesResults ul {
    width: 100%;
}

.imagesResults ul li {
    display: inline-table;
}

.imagesResults .image {
    margin-top: 6vh;
    margin-left: 2vw;
    width: 130px;
    height: 130px;
    min-width: 230px;
    min-height: 230px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 21px;
    overflow: hidden;
    transition: all .7s;
}

.imagesResults .dataPost {
    font-family: 'Rubik', sans-serif;
    color: #FFFFFF;
    padding: 0 15px;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(to bottom, transparent, #000000ee);
    margin-top: -10vh;
    margin-left: 2vw;
}

.imagesResults .dataPost span:first-child {
    font-size: 17px;
    font-weight: 300;
}

.imagesResults .dataPost span:last-child {
    font-size: 21px;
    font-weight: 400;
}