.imagesResults {
    position: relative;
    width: 40vw;
    margin-top: -3vh;
    margin-left: -4vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.imagesResults ul {
    width: 100%;
}

.imagesResults ul li {
    margin-top: 6vh;
    margin-left: 2vw;
    max-width: 100%;
    display: inline-table;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 21px;
    overflow: hidden;
    transition: all .7s;
}

.imagesResults .dataPost {
    font-family: 'Rubik', sans-serif;
    color: #FFFFFF;
    padding: 0 15px;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: -15vh;
    margin-left: 0vw;
}

.imagesResults .dataPost span:first-child {
    font-size: 17px;
    font-weight: 300;
}

.imagesResults .dataPost span:last-child {
    font-size: 21px;
    font-weight: 400;
}

/*---------------Media Queries---------------*/

@media screen and (max-width: 2560px) {
    .imagesResults {
        width: 30vw;
        margin-left: -4vw;
        margin-top: -5vh;
    }

    .imagesResults .dataPost {
        margin-top: -5.5vh;
    }
}

@media screen and (max-width: 1920px) {
    .imagesResults {
        margin-left: -10vw;
    }
}

@media screen and (max-width: 1440px) {
    .imagesResults {
        width: 36vw;
        margin-left: -18vw;
    }
}

@media screen and (max-width: 1366px) {
    .imagesResults {
        width: 38vw;
        margin-left: -16vw;
    }

    .imagesResults .dataPost {
        margin-top: -14vh;
    }
}

@media screen and (max-width: 1280px) {
    .imagesResults {
        width: 40vw;
        margin-left: -25vw;
    }
}

@media screen and (max-width: 1024px) {
    .imagesResults {
        width: 49vw;
        margin-left: -30vw;
    }

    /* .imagesResults ul li {
        min-width: 50px;
        min-height: 50px;
        width: 20%;
        height: 20%;
    } */
}

@media screen and (max-width: 812px) { 
    .imagesResults {
        width: 57vw;
        margin-left: -25vw;
        margin-top: 20vh;
    }

    /* .imagesResults ul li img {
        width: 150px;
        height: 150px;
    } */
    
    .imagesResults .dataPost {
        margin-top: -13vh;
        margin-left: 2vw;
    }

    .imagesResults .dataPost span:first-child {
        font-size: 13px;
    }

    .imagesResults .dataPost span:last-child {
        font-size: 11px;
    }
}

@media screen and (max-width: 768px) { 
    .imagesResults {
        width: 70vw;
        margin-left: -2vw;
        margin-top: 2vh;
    }

    /* .imagesResults ul li img {
        width: 250px;
        height: 250px;
    } */

    .imagesResults .dataPost {
        margin-top: -10vh;
        margin-left: 2vw;
    }
}

@media screen and (max-width: 720px) {
    .imagesResults .dataPost {
        margin-top: -17vh;
        margin-left: 2vw;
    }
}

@media screen and (max-width: 667px) {
    .imagesResults ul li img {
        width: 80%;
        height: 160px;
    } 
}

@media screen and (max-width: 653px) { 
    .imagesResults {
        width: 82vw;
        margin-top: 2vh;
        margin-left: 1vw;
    }

    .imagesResults .dataPost {
        margin-top: -35vh;
        margin-left: 2vw;
    }

    .imagesResults ul li {
        border-radius: 40px;
    }
}

@media screen and (max-width: 540px) { 
    .imagesResults {
        width: 90vw;
        margin-left: -2vw;
    }

    /* .imagesResults ul li { 
        width: 200px;
        height: 200px;
        margin-left: 3vw;
    } */

    .imagesResults .dataPost {
        margin-top: -15vh;
        margin-left: 2vw;
    }
}

@media screen and (max-width: 414px) {
    .imagesResults {
        width: 90vw;
        margin-left: -2vw;
        margin-top: 2vh;
    }

    .imagesResults ul li img {
        width: 80%;
        height: 160px;
    } 
}

@media screen and (max-width: 280px) {
    .imagesResults .dataPost {
        margin-top: -13vh;
        margin-left: 2vw;
    }

    .imagesResults .dataPost span:first-child {
        font-size: 15px;
    }

    .imagesResults .dataPost span:last-child {
        font-size: 13px;
    }
}