.imagesResults {
    margin: 22px;
    width: 240px;
    height: 240px;
    min-width: 240px;
    min-height: 240px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 21px;
    overflow: hidden;
    transition: all .7s;
} 

.imagesResults .dataPost {
    font-family: 'Rubik', sans-serif;
    padding: 0 15px;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(to bottom, transparent, #000000ee);
}

.imagesResults .dataPost span:first-child {
    font-weight: 300;
}

.imagesResults .dataPost span:last-child {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 400;
}

.greatestView {
    transform: scale(1.4);
}

/*----------------Media Queries---------------*/

@media only screen and (max-width: 2560px) {
    .imagesResults {
        width: 240px;
        height: 240px;
    }
}

@media only screen and (max-width: 1731px) {
    .imagesResults {
        width: 220px;
        height: 220px;
        min-width: 220px;
        min-height: 220px;
    }
}

@media only screen and (max-width: 1609px) {
    .imagesResults {
        width: 215px;
        height: 215px;
        min-width: 215px;
        min-height: 215px;
    }
}

@media only screen and (max-width: 1579px) {
    .imagesResults {
        width: 210px;
        height: 210px;
        min-width: 210px;
        min-height: 210px;
    }
}

@media only screen and (max-width: 1548px) {
    .imagesResults {
        width: 200px;
        height: 200px;
        min-width: 200px;
        min-height: 200px;
    }
}

@media only screen and (max-width: 1487px) {
    .imagesResults {
        width: 195px;
        height: 195px;
        min-width: 195px;
        min-height: 195px;
    }
}

@media only screen and (max-width: 1457px) {
    .imagesResults {
        width: 180px;
        height: 180px;
        min-width: 180px;
        min-height: 180px;
    }
}

@media only screen and (max-width: 1365px) {
    .imagesResults {
        width: 170px;
        height: 170px;
        min-width: 170px;
        min-height: 170px;
    }
}

@media only screen and (max-width: 1304px) {
    .imagesResults {
        width: 160px;
        height: 160px;
        min-width: 160px;
        min-height: 160px;
    }
}

@media only screen and (max-width: 1243px) {
    .imagesResults {
        width: 150px;
        height: 150px;
        min-width: 150px;
        min-height: 150px;
    }
}

@media only screen and (max-width: 1182px) {
    .imagesResults {
        width: 140px;
        height: 140px;
        min-width: 140px;
        min-height: 140px;
    }
}

@media only screen and (max-width: 1121px) {
    .imagesResults {
        width: 120px;
        height: 120px;
        min-width: 120px;
        min-height: 120px;
    }
    
    .imagesResults .dataPost span:first-child {
        font-size: 14px;
        margin-top: -25px;
    }
    
    .imagesResults .dataPost span:last-child {
        margin-top: 10px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 1000px) {
    .imagesResults {
        margin: 15px 10px;
        width: 170px;
        height: 170px;
        min-width: 170px;
        min-height: 170px;
    }

    .imagesResults .dataPost {
        padding: 0 10px;
    }

    .imagesResults .dataPost span:first-child {
        font-size: 0.9rem;
    }

    .imagesResults .dataPost span:last-child {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 911px) {
    .imagesResults {
        width: 160px;
        height: 160px;
        min-width: 160px;
        min-height: 160px;
    }
}

@media only screen and (max-width: 863px) {
    .imagesResults {
        width: 130px;
        height: 130px;
        min-width: 130px;
        min-height: 130px;
    }
}

@media only screen and (max-width: 767px) {
    .imagesResults {
        width: 120px;
        height: 120px;
        min-width: 120px;
        min-height: 120px;
    }

    .imagesResults .dataPost {
        padding: 0 10px;
    }

    .imagesResults .dataPost span:first-child {
        font-size: 0.9rem;
    }

    .imagesResults .dataPost span:last-child {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 674px) {
    .imagesResults {
        width: 100px;
        height: 100px;
        min-width: 100px;
        min-height: 100px;
    }
}

@media only screen and (max-width: 634px) {
    .imagesResults {
        width: 80px;
        height: 80px;
        min-width: 80px;
        min-height: 80px;
    }

    .imagesResults .dataPost {
        padding: 0 10px;
    }

    .imagesResults .dataPost span:first-child {
        font-size: 0.7rem;
    }

    .imagesResults .dataPost span:last-child {
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 620px) {
    .imagesResults {
        width: 250px;
        height: 250px;
        min-width: 250px;
        min-height: 250px;
    }

    .imagesResults .dataPost {
        padding: 0 15px;
    }
    
    .imagesResults .dataPost span:first-child {
        font-weight: 300;
        font-size: 1.4rem;
    }
    
    .imagesResults .dataPost span:last-child {
        margin-top: 10px;
        font-size: 1.2rem;
        font-weight: 400;
    }
}

@media only screen and (max-width: 620px) {
    .imagesResults {
        width: 230px;
        height: 230px;
        min-width: 230px;
        min-height: 230px;
    }
}

@media only screen and (max-width: 499px) {
    .imagesResults {
        width: 210px;
        height: 210px;
        min-width: 210px;
        min-height: 210px;
    }
}

@media only screen and (max-width: 459px) {
    .imagesResults {
        width: 190px;
        height: 190px;
        min-width: 190px;
        min-height: 190px;
    }
}

@media only screen and (max-width: 419px) {
    .imagesResults {
        width: 170px;
        height: 170px;
        min-width: 170px;
        min-height: 170px;
    }
}

@media only screen and (max-width: 379px) {
    .imagesResults {
        width: 150px;
        height: 150px;
        min-width: 150px;
        min-height: 150px;
    }

    .imagesResults .dataPost {
        padding: 0 15px;
    }
    
    .imagesResults .dataPost span:first-child {
        font-weight: 300;
        font-size: 1.2rem;
    }
    
    .imagesResults .dataPost span:last-child {
        margin-top: 10px;
        font-size: 1.0rem;
        font-weight: 400;
    }
}

@media only screen and (max-width: 339px) {
    .imagesResults {
        width: 130px;
        height: 130px;
        min-width: 130px;
        min-height: 130px;
    }

    .imagesResults .dataPost {
        padding: 0 15px;
    }
    
    .imagesResults .dataPost span:first-child {
        font-weight: 300;
        font-size: 1.0rem;
    }
    
    .imagesResults .dataPost span:last-child {
        margin-top: 10px;
        font-size: 0.8rem;
        font-weight: 400;
    }
}