/*------------------Navigation Bar------------------*/

.navbar {
    max-width: 2560px;
    width: 100%;
    height: 117px;
    background-color: #0A1744; 
    box-shadow: 0px 3px 29px #5538EE1F;
    -moz-box-shadow: 0px 3px 29px #5538EE1F;
    -webkit-box-shadow: 0px 3px 29px #5538EE1F;
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.navbar .container {
    max-width: 2560px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 117px;
}

nav {
    width: 400px;
    display: flex;
    padding-right: 40px;
}

nav ul {
    display: flex;
    margin-right: 10px;
} 

.logo {
    width: 240px;
    font-size: 35px;
    color: white;
    padding-left: 20px;
}

span {
    font-family: 'Rubik', sans-serif;
    color: #FFF;
    font-weight: 700;
}

 .itemOne, .itemTwo, .itemOneHome, .itemTwoLogOut {
    width: 170px;
    height: 49px;
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    border-radius: 25px;
    opacity: 1;
    text-transform: uppercase;
    font-weight: 700;
} 

.itemOne, .itemOneHome {
    background-color: #72EFDB;
    color: #0B1741;
    box-shadow: 0px 3px 6px #5538EE29;
    margin: 0px 20px;
}

.itemOne, .itemOneHome a {
    color: #0B1741;
}

.aboutIcon {
    width: 13px;
    height: 13px;
    text-align: center;
    margin-top: 18px;
}

.itemTwo, .itemTwoLogOut {
    background-color: #1E3E7B;
    color: #FFF;
}

.itemTwo, .itemTwoLogOut a {
    color: #FFF;
}

.loginIcon {
    width: 13px;
    height: 13px;
    text-align: center;
    margin-top: 18px;
}

.homeIcon {
    width: 13px;
    height: 13px;
    text-align: center;
    margin-top: 18px;
}

.logoutIcon {
    width: 13px;
    height: 13px;
    text-align: center;
    margin-top: 18px;
}


/*------------------Media Queries------------------*/

@media screen and (max-width: 2560px) {
    .aboutIcon {
        margin-left: 1.7vw;
    }

    .loginIcon {
        margin-left: 1.7vw; 
    }
    
}

@media screen and (max-width: 1440px) {
    .aboutIcon {
        margin-left: 2.4vw;
    }

    .loginIcon {
        margin-left: 2.4vw; 
    }
}

@media screen and (max-width: 1366px) {
    .aboutIcon {
        margin-left: 2.8vw;
    }

    .loginIcon {
        margin-left: 2.8vw; 
    }
}

@media screen and (max-width: 1024px) {
    .aboutIcon {
        margin-left: 4vw;
    }

    .loginIcon {
        margin-left: 4vw;
    }
}

@media screen and (max-width: 667px) {
    .navbar .container {
        width: 667px;
    }
 
}

@media screen and (max-width: 653px) {
    nav {
        width: 350px;
    }
}

@media screen and (max-width: 640px) {
    .navbar .container {
        width: 640px;
    }
}

@media screen and (max-width: 568px) {
    .navbar .container {
        width: 568px;
    }

    .logo {
        font-size: 23px;
    }

    .aboutIcon {
        margin-left: 7vw;
    }
    
    .loginIcon {
        margin-left: 7vw;
    }
    
    .homeIcon {
        margin-left: 7vw;
    }
    
    .logoutIcon {
        margin-left: 7vw;
    }
}

@media screen and (max-width: 540px) {
    nav {
        width: 230px;
        margin-top: 4vh;
    }

    nav ul {
        margin-right: 10px;
        margin-left: 0vh;
    } 

    .itemOne, .itemOneHome {
        margin-bottom: 3vh;
    }

    .itemOne, .itemTwo, .itemOneHome, .itemTwoLogOut {
        width: 100px;
        height: 35px;
        font-size: 12px;
    }

    .itemTwo, .itemTwoLogOut {
        margin-left: -1vw;
    }

    .aboutIcon {
        margin-left: 3vw;
        padding-top: 10px;
    }

    .loginIcon {
        margin-left: 3vw;
        padding-top: 10px;
    }
    
    .homeIcon {
        margin-left: 3vw;
        padding-top: 10px;
    }
    
    .logoutIcon {
        margin-left: 3vw;
        padding-top: 10px;
    }
}

@media screen and (max-width: 425px) {
    .navbar .container {
        width: 425px;
    }
}

@media screen and (max-width: 414px) {
    .navbar .container {
        width: 414px;
    }

    .logo {
        font-size: 30px;
    }

    nav {
        width: 90px;
        display: flex;
        flex-direction: column;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        margin-left: -8vh;
        margin-top: -4vh;
    } 

    .itemOne, .itemOneHome {
        margin-bottom: 2vh;
    }

    .itemOne, .itemTwo, .itemOneHome, .itemTwoLogOut {
        width: 100px;
        height: 35px;
        font-size: 12px;
    }

    .itemTwo, .itemTwoLogOut {
        margin-left: 4vw;
    }

    .aboutIcon {
        margin-left: 4vw;
        padding-top: 12px;
    }

    .loginIcon {
        margin-left: 4vw;
        padding-top: 12px;
    }
    
    .homeIcon {
        margin-left: 4vw;
        padding-top: 12px;
    }
    
    .logoutIcon {
        margin-left: 4vw;
        padding-top: 12px;
    }
}

@media screen and (max-width: 411px) {
    .navbar .container {
        width: 411px;
    }
}

@media screen and (max-width: 375px) {
    
    .navbar {
        width: 100vw;
    }
    .navbar .container {
        width: 375px;
    }
    
    .logo {
        font-size: 22px;
    }

    nav {
        width: 90px;
        display: flex;
        flex-direction: column;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        margin-left: -10vh;
        margin-top: -5vh;
    } 

    .itemOne, .itemOneHome {
        margin-bottom: 2vh;
    }

    .itemOne, .itemTwo, .itemOneHome, .itemTwoLogOut {
        width: 100px;
        height: 35px;
        font-size: 12px;
    }

    .itemTwo, .itemTwoLogOut {
        margin-left: 5vw;
    }

    .aboutIcon {
        margin-left: 6vw;
        padding-top: 12px;
    }

    .loginIcon {
        margin-left: 6vw;
        padding-top: 12px;
    }
    
    .homeIcon {
        margin-left: 6vw;
        padding-top: 12px;
    }
    
    .logoutIcon {
        margin-left: 6vw;
        padding-top: 12px;
    }
}

@media screen and (max-width: 360px) {
    .navbar .container {
        width: 360px;
    }
}

@media screen and (max-width: 320px) {
    .navbar .container {
        width: 320px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        margin-left: -1vh;
    } 
}

@media screen and (max-width: 280px) {
    .navbar {
        width: 100vw;
    }
    .navbar .container {
        width: 280px;
    }

    .logo {
        font-size: 18px;
    }

    nav {
        width: 90px;
        display: flex;
        flex-direction: column;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        margin-left: -2vh;
    } 

    .itemOne, .itemOneHome {
        margin-bottom: 1vh;
    }

    .itemOne, .itemTwo, .itemOneHome, .itemTwoLogOut {
        width: 100px;
        height: 35px;
        font-size: 12px;
    }

    .itemTwo, .itemTwoLogOut {
        margin-left: 7vw;
    }

    .aboutIcon {
        margin-left: 6vw;
        padding-top: 12px;
    }

    .loginIcon {
        margin-left: 6vw;
        padding-top: 12px;
    }
    
    .homeIcon {
        margin-left: 6vw;
        padding-top: 12px;
    }
    
    .logoutIcon {
        margin-left: 6vw;
        padding-top: 12px;
    }
}